[database]
adapter  = Postgresql
host     = postgres-dev.l
username = admin
password = password
dbname   = modularized

[application]
;controllersDir = ../app/controllers/
modelsDir      = ../app/models/
modulesDir    = ../app/modules/
tasksDir    = ../app/tasks/
;migrationsDir  = ../app/migrations/
;viewsDir       = ../app/views/
;pluginsDir     = ../app/plugins/
;libraryDir     = ../app/library/
cacheDir       = ../app/cache/
;baseUri        = /

[models]
metadata.adapter = Memory
;metadata.lifetime = 1800
;metadata.suffix = ino_