[database]
adapter  = Postgresql
host     = postgres-dev.l
username = admin
password = password
dbname   = modularized

[application]
;controllersDir = controllers/
modelsDir      = models/
modulesDir    = modules/
tasksDir    = tasks/
;migrationsDir  = migrations/
;viewsDir       = views/
;pluginsDir     = plugins/
;libraryDir     = library/
cacheDir       = cache/
;baseUri        = /

[models]
metadata.adapter = Memory
;metadata.lifetime = 1800
;metadata.suffix = ino_